[Unit]
Description=Vrouter agent

[Service]
EnvironmentFile=/etc/default/vrouter-agent
ExecStart=/usr/bin/contrail-vrouter-agent "$DAEMON_ARGS"
Restart=always

[Install]
WantedBy=multi-user.target
